/********************************************
All content
********************************************/

a {
	text-decoration: none;
}

body {
	background: #eeffd6;
}

/********************************************
Header
********************************************/
header {
	text-align: left;
	margin: 0 0 2.5% 0;
	padding: 5%;
}


/********************************************
Body
********************************************/
div {
	margin: 0 auto;
	max-width: 1000px;
	text-align: center;
}
