/********************************************
All content
********************************************/

a {
	text-decoration: none;
}

body {
	background: #eeffd6;
	font-family: 'Open Sans', sans-serif;
}



/********************************************
Header (fog city img src http://spigaou.cgsociety.org/art/maya-photoshop-fog-city-3d-435104)
********************************************/
header {
	text-align: left;
	margin: 0 auto 2.5%;
	max-width: 1600px;
	padding: 5%;
	background: linear-gradient(#eeffd6, transparent 10%),
            linear-gradient(0deg, #aaa, transparent),
            #eeffd6 url('fog_city.jpg') no-repeat center;
}

header h1, header h2 {
	color: white;
	font-family: "verdana";
	padding: 0 0 0 5%;
}

header h1 {
	font-family: 'Audiowide', cursive;
    font-size: 2.3em;
	letter-spacing: .1em;
	text-shadow: 2px 3px 5px #000;
}

header h2 {
	font-family: 'Prosto One', cursive;
	text-shadow: 2px 3px 10px #333;
}

#nav {
	list-style-type: none;
	margin: 0;
	padding: 0 5% 0 0;
	text-align: center;
}

#nav a {
	color: #fff;
	display: block;
	margin: 0 8px;
	text-shadow: 2px 3px 10px #000;
	width: auto;
}

#nav a:hover {
	color: #c4fc9f;
}

 #nav li {
	float: right;
 }



/********************************************
Body
********************************************/
#map {
	margin: 0 auto;
	max-width: 1000px;
	text-align: center;
}
